<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />

  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  <!-- JavaScript Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
    crossorigin="anonymous"></script>
</head>

<body>

  <form method="POST" action="" enctype="multipart/form-data">
    <div class="container">
      <div class="card mt-3">
        <div class="card-header">
          <h3>Importar Billing</h3>
          <div class="small text-end">
            <%= version %>
          </div>
        </div>
        <div class="card-body">


          <div class="row mt-5">
            <div class="col-lg-6">
              <input type="file" name="billing" id="billing">
            </div>
            <div class="col-lg-5">
              <input type="checkbox" name="chkfeb" id="chkfeb">
              <label for="chkfeb">
                Considerar mês de Fevereiro
              </label>
            </div>
            <div class="col-lg-1">
              <input type="submit" value="Enviar">
            </div>
          </div>
        </div>
      </div>


      <div class="card mt-4">
        <div class="card-header">
          <h3>Informações de faturamento</h3>
        </div>
        <div class="card-body">

          <div class="row">
            <div class="col-md-3">
              <h4>Dynatrace</h4>
              <table class="table table-sm table-hover">
                <tr>
                  <th>HU</th>
                  <td><input type="number" class="form-control form-control-sm" name="dyna_hu" /></td>
                </tr>
                <tr>
                  <th>DDU</th>
                  <td><input type="number" class="form-control form-control-sm" name="dyna_ddu" /></td>
                </tr>
                <tr>
                  <th>DEM</th>
                  <td><input type="number" class="form-control form-control-sm" name="dyna_dem" /></td>
                </tr>
              </table>

            </div>
            <div class="col-md-9 border-start">
              <h4>Pilares</h4>
              <table class="table table-sm table-hover">
                <tr>
                  <th>Observabilidade / Operação</th>
                  <td>
                    <select class="form-select form-select-sm" aria-label="Observabilidade / Operação"
                      name="pilar_monitoracao">
                      <option value="BASIC">BASIC</option>
                      <option calue="PREMIUM" selected>PREMIUM</option>
                      <option value="ADVANCED">ADVANCED</option>
                    </select>
                  </td>
                </tr>
                <tr>
                  <th>Performance</th>
                  <td>
                    <select class="form-select form-select-sm" aria-label="Performance" name="pilar_performance">
                      <option value="BASIC">BASIC</option>
                      <option calue="PREMIUM" selected>PREMIUM</option>
                      <option value="ADVANCED">ADVANCED</option>
                    </select>
                  </td>
                </tr>
                <tr>
                  <th>Custos</th>
                  <td>
                    <select class="form-select form-select-sm" aria-label="Custos" name="pilar_custos">
                      <option value="BASIC">BASIC</option>
                      <option calue="PREMIUM" selected>PREMIUM</option>
                      <option value="ADVANCED">ADVANCED</option>
                    </select>
                  </td>
                </tr>
                <tr>
                  <th>Continuidade</th>
                  <td>
                    <select class="form-select form-select-sm" aria-label="Continuidade" name="pilar_continuidade">
                      <option value="BASIC">BASIC</option>
                      <option calue="PREMIUM" selected>PREMIUM</option>
                      <option value="ADVANCED">ADVANCED</option>
                    </select>
                  </td>
                </tr>
                <tr id="trCommvault" style="display: none;">
                  <td class="ps-5">Commvault</td>
                  <td>
                    <select class="form-select form-select-sm" aria-label="Commvault" name="commvault">
                      <option value="SIM">SIM</option>
                      <option calue="NAO" selected>NÃO</option>
                    </select>
                  </td>
                </tr>
                <tr>
                  <th>Segurança</th>
                  <td>
                    <select class="form-select form-select-sm" aria-label="Segurança" name="pilar_seguranca">
                      <option value="BASIC">BASIC</option>
                      <option calue="PREMIUM" selected>PREMIUM</option>
                      <option value="ADVANCED">ADVANCED</option>
                    </select>
                  </td>
                </tr>
              </table>
            </div>

          </div>

        </div>

      </div>
  </form>

  <script defer>
    const tr = document.getElementById('trCommvault');
    const continuidade = document.querySelector('select[name=pilar_continuidade]');
    const commvault = document.querySelector('select[name=commvault]');

    continuidade.addEventListener('change', e => {
      if (e.target.value == 'ADVANCED') {
        tr.style.display = ''
        commvault.disabled = false;
      } else {
        tr.style.display = 'none'
        commvault.value = '';
        commvault.disabled = true;
      }
    });
  </script>
</body>

</html>