th {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.listTable th:not(:nth-child(2)) {
  width: calc(100% / 19);
}

.c-header * { height: 2em; }
